body {
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
}
a:link, a:visited {
    border: 3px solid black;
    border-radius: 0.5em;
    background-color: #00ffff;
    text-decoration: none;
    padding: 3px;
    margin: 1em;
    color: black;
}
a:hover {
    background-color: #44ffff;
}
.body {
    background-color: #ddffff;
    border: 5px solid black;
    border-radius: 1em;
}
img {
    width: 50%;
}
